/Sphere/Volume/Simulations
/Sphere/SSP/Simulations
/Sphere/Volume/Vieux
/Sphere/SSP/Vieux
/Monte_Carlo/Simulations
*.pyc
*.parquet
*.dirlock
*.lock
*.xml
*.ZRD
*.png 

#Spyder project
.spyproject/
.idea/
