/Sphere/Volume/Simulations
/Sphere/SSP/Simulations
/Sphere/Volume/Vieux
/Sphere/SSP/Vieux
/Monte_Carlo/Simulations
*.pyc
*.parquet
*.dirlock
*.zmx
*.ZDA
*.lock
*.xml
*.ZRD
*.png 
*.html

#Spyder project
.spyproject/
.idea/
